trigger:
  branches:
    include:
      - main
pool:
  vmImage: ubuntu-22.04

# pool:
#   name: 'nbc-mgmt-ocr-pool'

variables:
- group: aidi-cweb-erp-prd-variables-sea
- name: tag
  value: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build and Push Image
  jobs:
  - job: Build
    steps:
    - task: Docker@2
      inputs:
        command: buildAndPush
        repository: $(ImageName)
        containerRegistry: $(ACRConnection)
        dockerfile: '**/Dockerfile'
        tags: |
          $(Build.BuildId)
          latest

# - stage: Deploy
#   displayName: Deploy to Azure Container App
#   dependsOn: Build
#   jobs:
#   - job: Deploy
#     steps:
#     - task: AzureCLI@2
#       inputs:
#         azureSubscription: $(ContainerAppConnection)
#         scriptType: bash
#         scriptLocation: inlineScript
#         inlineScript: |
#           az containerapp update \
#             --name $(ContainerAppName) \
#             --resource-group $(ResourceGroup) \
#             --image $(RegistryName)/$(ImageName):$(Build.BuildId)
