# Environment: development or production
ENVIRONMENT=production

# ADMIN authentication
ADMIN_USERNAME=__ADMIN_USERNAME__
ADMIN_PASSWORD=__ADMIN_PASSWORD__

# Strapi Configuration
STRAPI_API_URL=__STRAPI_API_URL__
STRAPI_API_KEY=__STRAPI_API_KEY__