# Environment: development or production
ENVIRONMENT=development

# ADMIN authentication
ADMIN_USERNAME=
ADMIN_PASSWORD=

# Strapi Configuration
STRAPI_API_URL=your_strapi_api_url_here
STRAPI_API_KEY=your_strapi_api_key_here 